<div class="maincontent">
  <article class="article">
    <h1 class="article-title">What is Shuttle 2 MS?</h1>
      <p>We've all been there. The Visa is ready, the tickets are ready, the bags are packed, but what do you do once you reach America. Where do you stay? How do you get there? For years, Seniors in colleges have been offering their pickup services to new students. Providing them with temporary accomodation and even sometime a bit of food! This website is an humble attempt to connect new students with seniors to help coordinate airport pickups and temporary accomodation.</p>
  </article><!-- article -->

  

  <article class="article">
    <h1 class="article-title">Who will find this site useful?</h1>
    <ul>
      <li>Seniors looking to collate list of students coming, pick up times and temp accommodation</li>
      <li>New students seeking help of seniors</li>
    </ul>
  </article><!-- article -->
</div>
