<article class="sidebar">
  <h1 class="sidebar-title">Other Resources</h1>
  <ul class="sidebar-body">
    <li><a href="http://facebook.com">Facebook</a></li>
    <li><a href="http://twitter.com">Twitter</a></li>
  </ul>
</article><!-- article -->
