<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <% include partials/template/header.ejs %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <article class="chat">
            <header class="chat-header">
              <div class="h3 chat-title">Time till Algorithms exam.
              </div><!-- chat-title -->
            </header><!-- chat-header -->
              <iframe src="http://free.timeanddate.com/countdown/i5n1mj1j/n867/cf100/cm0/cu4/ct0/cs0/ca0/cr0/ss0/cac000/cpc000/pcfff/tcfff/fs100/szw320/szh135/tatTime%20left%20to%20Event%20in/tac000/tptTime%20since%20Event%20started%20in/tpc000/mac000/mpc000/iso2017-04-27T00:00:00" allowtransparency="true" frameborder="0" width="320" height="135"></iframe>
            <div class="panel panel-default">
              <!-- <div class="panel-body chat-display">
                <p class="text-muted chat-text">Welcome...add your message using the form above</p>
              </div> --><!-- panel-body -->
            </div><!-- panel-default -->
          </article><!-- article -->
        </div><!-- col-sm-12 -->
      </div><!-- row -->
    </div><!-- container -->
   <!--  <% include partials/template/jsdefaults.ejs %> -->
  </body>
</html>
